<table class="table">
  <thead>
    <tr>
      <th class="w-75">Account</th>
      <th>Saldo</th>
      <th class="w-25">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let account of accounts"
      app-accounts-table-row
      [account]="account"
    ></tr>
    <tr>
      <td colspan="99">
        <form #form="ngForm">
          <input
            type="text"
            class="form-control-plaintext"
            placeholder="AccountId..."
            [(ngModel)]="newAccount.id"
            name="accountId"
            required
          />
          <input
            type="text"
            class="form-control-plaintext"
            placeholder="New account..."
            [(ngModel)]="newAccount.name"
            name="accountName"
            required
          />
          <button
            type="submit"
            (click)="create()"
            [disabled]="form.invalid"
            class="btn btn-primary"
          >
            Create
          </button>
        </form>
      </td>
    </tr>
  </tbody>
</table>
