<td class="text-nowrap">{{ transaction.date | date }}</td>
<td class="py-0">
  <app-select-account
    [ngModel]="transaction.accountId"
    (ngModelChange)="update.next({ accountId: $event })"
  ></app-select-account>
</td>

<td class="py-0">
  <app-select-payee
    [ngModel]="transaction.payeeId"
    (ngModelChange)="update.next({ payeeId: $event })"
  ></app-select-payee>
</td>
<td class="py-0">
  <app-select-category
    [ngModel]="transaction.categoryId"
    (ngModelChange)="update.next({ categoryId: $event })"
  ></app-select-category>
</td>
<td class="py-0">
  <input
    type="text"
    class="form-control-plaintext"
    [ngModel]="transaction.description"
    (ngModelChange)="update.next({ description: $event })"
    [ngModelOptions]="{ updateOn: 'blur' }"
    placeholder="Description..."
  />
</td>
<td class="py-0">
  <app-input-currency
    [ngModel]="transaction.amount"
    (ngModelChange)="update.next({ amount: $event })"
  ></app-input-currency>
</td>
<td>
  <button
    *ngIf="showSaveBtn"
    type="button"
    class="btn btn-primary"
    (click)="add()"
  >
    Add
  </button>

  <button
    *ngIf="!showSaveBtn"
    type="button"
    class="btn btn-danger"
    (click)="remove()"
  >
    Remove
  </button>
</td>
