<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top mb-3">
  <a class="navbar-brand" href="#">Budget</a>

  <nav class="navbar-nav">
    <a
      class="nav-item nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Dashboard</a
    >
    <a
      class="nav-item nav-link"
      routerLink="transactions"
      routerLinkActive="active"
      >Transactions</a
    >
    <a class="nav-item nav-link" routerLink="accounts" routerLinkActive="active"
      >Accounts</a
    >
    <a
      class="nav-item nav-link"
      routerLink="net-worth"
      routerLinkActive="active"
      >Net Worth</a
    >
    <a class="nav-item nav-link" routerLink="spending" routerLinkActive="active"
      >Spending Report</a
    >
  </nav>
</nav>
