<div class="row h-100">
  <app-doughnut-chart
    class="col"
    [data]="(incomeChartData$ | async).data"
    [labels]="(incomeChartData$ | async).labels"
    [tooltipFn]="tooltipFn"
    name="Income"
    [value]="income$ | async | currency: 'EUR'"
    [options]="chartOptions"
  >
  </app-doughnut-chart>
  <app-doughnut-chart
    class="col"
    name="Left to spend"
    [value]="netto$ | async | currency"
    [options]="chartOptions"
  >
  </app-doughnut-chart>
  <app-doughnut-chart
    class="col"
    [data]="(expensesChartData$ | async).data"
    [labels]="(expensesChartData$ | async).labels"
    [tooltipFn]="tooltipFn"
    [options]="chartOptions"
    name="Expenses"
    [value]="expenses$ | async | currency: 'EUR'"
  >
  </app-doughnut-chart>
</div>
