.form-control-plaintext {
  border: 1px solid transparent;
  &:not(:read-only) {
    &:hover,
    &:focus {
      @extend .form-control;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
