ng-select {
  &.ng-select-plaintext {
    &:not(:hover):not(.ng-select-focused) {
      .ng-select-container {
        border-color: transparent;
        background-color: transparent;
      }
      .ng-value-container {
        padding: 0;
      }
      .ng-clear-wrapper,
      .ng-arrow-wrapper {
        display: none;
      }
    }
  }
}
