<td>
  <input
    type="text"
    class="form-control-plaintext"
    [ngModel]="account.name"
    (ngModelChange)="update({ name: $event })"
    [ngModelOptions]="{ updateOn: 'blur' }"
    placeholder="Name..."
  />
</td>
<td>
  <app-input-currency
    [ngModel]="account.startSaldo"
    (ngModelChange)="update({ startSaldo: $event })"
    [ngModelOptions]="{ updateOn: 'blur' }"
  ></app-input-currency>
</td>
<td>
  <select
    class="custom-select"
    name="type"
    [ngModel]="account.type"
    (ngModelChange)="update({ type: $event })"
  >
    <option [ngValue]="'asset'">Asset</option>
    <option ngValue="liability">Liability</option>
  </select>
</td>
