<!-- <div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    id="onlyShowUncategorized"
    [ngModel]="onlyShowUncategorized$ | async"
    (ngModelChange)="onlyShowUncategorized$.next($event)"
  />
  <label class="form-check-label" for="onlyShowUncategorized">
    Only show uncategorized
  </label>
</div> -->

<app-table
  [data]="transactions$ | async"
  pageSize="25"
  title="Transactions"
  [showSelect]="true"
  [(selectedIds)]="selected"
>
  <app-table-cell name="date" [sortDefault]="true">
    <ng-container *appTableHeaderCellDef>Header cell!</ng-container>
    <app-input-date
      *appTableCellDef="let transaction"
      [ngModel]="transaction.date"
      (ngModelChange)="update(transaction, { date: $event })"
    ></app-input-date>
  </app-table-cell>

  <app-table-cell name="account" sortBy="accountId">
    <app-select-account
      *appTableCellDef="let transaction"
      [(ngModel)]="transaction.accountId"
      (ngModelChange)="update(transaction, { accountId: $event })"
    ></app-select-account>
  </app-table-cell>
  <app-table-cell name="payee" [sortBy]="sortByPayeeFn">
    <app-select-payee
      *appTableCellDef="let transaction"
      [(ngModel)]="transaction.payeeId"
      (ngModelChange)="update(transaction, { payeeId: $event })"
    ></app-select-payee>
  </app-table-cell>
  <app-table-cell name="category" [sortBy]="sortByCategoryFn">
    <app-select-category
      *appTableCellDef="let transaction"
      [(ngModel)]="transaction.categoryId"
      (ngModelChange)="update(transaction, { categoryId: $event })"
    ></app-select-category>
  </app-table-cell>
  <app-table-cell name="description">
    <input
      *appTableCellDef="let transaction"
      type="text"
      class="form-control-plaintext"
      [(ngModel)]="transaction.description"
      (ngModelChange)="update(transaction, { description: $event })"
      [ngModelOptions]="{ updateOn: 'blur' }"
      placeholder="Description..."
    />
  </app-table-cell>
  <app-table-cell name="amount">
    <app-input-currency
      *appTableCellDef="let transaction"
      [(ngModel)]="transaction.amount"
      (ngModelChange)="update(transaction, { amount: $event })"
    ></app-input-currency>
  </app-table-cell>
  <app-table-cell name="actions" [sortBy]="null">
    <ng-container *appTableHeaderCellDef></ng-container>
    <ng-container *appTableCellDef="let transaction">
      <!-- <button
        *ngIf="showSaveBtn"
        type="button"
        class="btn btn-primary"
        (click)="add(transaction)"
      >
        Add
      </button> -->

      <button
        type="button"
        class="btn btn-danger"
        (click)="remove(transaction)"
      >
        Remove
      </button>
    </ng-container>
  </app-table-cell>
</app-table>
