<!-- <div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    id="onlyShowUncategorized"
    [ngModel]="onlyShowUncategorized$ | async"
    (ngModelChange)="onlyShowUncategorized$.next($event)"
  />
  <label class="form-check-label" for="onlyShowUncategorized">
    Only show uncategorized
  </label>
</div> -->

<app-table
  [data]="transactions$ | async"
  [sortFn]="sortFn"
  [sortDesc]="true"
  pageSize="25"
  title="Transactions"
>
  <app-table-cell></app-table-cell>

  <ng-container cdkColumnDef="date">
    <th cdk-header-cell *cdkHeaderCellDef>Date</th>
    <td cdk-cell *cdkCellDef="let transaction" class="text-nowrap"></td>
  </ng-container>

  <ng-container cdkColumnDef="accountId">
    <th cdk-header-cell *cdkHeaderCellDef>Account</th>
    <td cdk-cell *cdkCellDef="let transaction" class="py-0">
      <app-select-account
        [(ngModel)]="transaction.accountId"
        (ngModelChange)="update(transaction, { accountId: $event })"
      ></app-select-account>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="payeeId">
    <th cdk-header-cell *cdkHeaderCellDef>Payee</th>
    <td cdk-cell *cdkCellDef="let transaction">
      <app-select-payee
        [(ngModel)]="transaction.payeeId"
        (ngModelChange)="update(transaction, { payeeId: $event })"
      ></app-select-payee>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="categoryId">
    <th cdk-header-cell *cdkHeaderCellDef>Category</th>
    <td cdk-cell *cdkCellDef="let transaction">
      <app-select-category
        [(ngModel)]="transaction.categoryId"
        (ngModelChange)="update(transaction, { categoryId: $event })"
      ></app-select-category>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="description">
    <th cdk-header-cell *cdkHeaderCellDef>Description</th>
    <td cdk-cell *cdkCellDef="let transaction">
      <input
        type="text"
        class="form-control-plaintext"
        [(ngModel)]="transaction.description"
        (ngModelChange)="update(transaction, { description: $event })"
        [ngModelOptions]="{ updateOn: 'blur' }"
        placeholder="Description..."
      />
    </td>
  </ng-container>

  <ng-container cdkColumnDef="amount">
    <th cdk-header-cell *cdkHeaderCellDef>Amount</th>
    <td cdk-cell *cdkCellDef="let transaction">
      <app-input-currency
        [(ngModel)]="transaction.amount"
        (ngModelChange)="update(transaction, { amount: $event })"
      ></app-input-currency>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="actions">
    <th cdk-header-cell *cdkHeaderCellDef></th>
    <td cdk-cell *cdkCellDef="let transaction">
      <!-- <button
        *ngIf="showSaveBtn"
        type="button"
        class="btn btn-primary"
        (click)="add(transaction)"
      >
        Add
      </button> -->

      <button
        type="button"
        class="btn btn-danger"
        (click)="remove(transaction)"
      >
        Remove
      </button>
    </td>
  </ng-container>

  <!-- <tr class="table-light" app-transactions-table-row [showSaveBtn]="true"></tr>
  <tr
    *tableRow="let transaction"
    app-transactions-table-row
    [transaction]="transaction"
    (update)="update(transaction, $event)"
  ></tr> -->
</app-table>
