<header class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mb-0">Dashboard</h1>

  <app-month-picker
    [month]="selectedMonth$ | async"
    (monthChanged)="selectedMonth$.next($event)"
  ></app-month-picker>
</header>

<main>
  <h2>Accounts</h2>

  <div class="d-flex">
    <app-account-summary
      *ngFor="let account of accounts$ | async"
      [account]="account"
      class="mr-2"
    ></app-account-summary>
  </div>
</main>

<app-table [data]="categories$ | async">
  <thead>
    <tr>
      <th class="w-100">Category</th>
      <th>Budgeted</th>
      <th>Spent</th>
      <th>Available</th>
    </tr>
  </thead>
  <tr
    *tableRow="let category"
    app-dashboard-table-row
    [category]="category"
  ></tr>
  <tfoot>
    <tr app-dashboard-table-row [category]="noCategory"></tr>
  </tfoot>
</app-table>
