<h1>Dashboard</h1>

<!-- TO§DO CREATE MONTH PICKER COMPONENT-->
<div class="btn-group">
  <button type="button" class="btn btn-primary" (click)="prevMonth()">
    < Prev
  </button>
  <button type="button" class="btn btn-primary">
    {{ selectedMonth$ | async }}
  </button>
  <button type="button" class="btn btn-primary" (click)="nextMonth()">
    Next >
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Budgeted</th>
      <th>Spent</th>
      <th>Available</th>
    </tr>
  </thead>
  <tr *ngFor="let row of data$ | async">
    <td>{{ row.category.name }}</td>
    <td>{{ row.budgeted }}</td>
    <td>{{ row.spent }}</td>
    <td>{{ row.available }}</td>
  </tr>
</table>
