/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./styles/ng-select";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import "./styles/bootstrap-custom";
@import "./styles/_forms";
@import "./styles/tables";

.position-absolute-center {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
