<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    id="onlyShowUncategorized"
    [ngModel]="onlyShowUncategorized$ | async"
    (ngModelChange)="onlyShowUncategorized$.next($event)"
  />
  <label class="form-check-label" for="onlyShowUncategorized">
    Only show uncategorized
  </label>
</div>

<app-table [data]="transactions$ | async" [sortFn]="sortFn" [sortDesc]="true">
  <thead>
    <tr>
      <th>Datee</th>
      <th>Account</th>
      <th>Payee</th>
      <th>Category</th>
      <th class="w-100">Description</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tr class="table-light" app-transactions-table-row [showSaveBtn]="true"></tr>
  <tr
    *tableRow="let transaction"
    app-transactions-table-row
    [transaction]="transaction"
    (update)="update(transaction, $event)"
  ></tr>
</app-table>
