<app-table [data]="transactions$ | async" [sortFn]="sortFn" [sortDesc]="true">
  <thead>
    <tr>
      <th>Datee</th>
      <th>Account</th>
      <th>Payee</th>
      <th>Category</th>
      <th class="w-100">Description</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="date" class="form-control" /></td>
    </tr>
    <tr *tableRow="let transaction">
      <td class="text-nowrap">{{ transaction.date | date }}</td>
      <td class="py-0">
        <app-select-account
          [ngModel]="transaction.accountId"
          (ngModelChange)="update(transaction, { accountId: $event })"
        ></app-select-account>
      </td>

      <td class="py-0">
        <app-select-payee
          [ngModel]="transaction.payeeId"
          (ngModelChange)="update(transaction, { payeeId: $event })"
        ></app-select-payee>
      </td>
      <td class="py-0">
        <app-select-category
          [ngModel]="transaction.categoryId"
          (ngModelChange)="update(transaction, { categoryId: $event })"
        ></app-select-category>
      </td>
      <td class="py-0">
        <input
          type="text"
          class="form-control-plaintext"
          [ngModel]="transaction.description"
          (ngModelChange)="update(transaction, { description: $event })"
          [ngModelOptions]="{ updateOn: 'blur' }"
          placeholder="Description..."
        />
      </td>
      <td class="py-0">
        <app-input-currency
          [ngModel]="transaction.amount"
          (ngModelChange)="update(transaction, { amount: $event })"
        ></app-input-currency>
      </td>
    </tr>
  </tbody>
</app-table>
