<app-table-header>
  <ng-content select="[appTableButton]"></ng-content>
</app-table-header>
<table class="table">
  <ng-content select="thead"></ng-content>
  <tbody>
    <ng-content select="tr"></ng-content>
    <ng-container *ngFor="let row of paginatedData$ | async">
      <ng-container
        *ngTemplateOutlet="rowTpl?.templateRef; context: { $implicit: row }"
      ></ng-container>
    </ng-container>
  </tbody>
  <ng-content select="tfoot"></ng-content>
</table>

<ngb-pagination
  [hidden]="(filteredData$ | async).length <= (pageSize$ | async)"
  [page]="page$ | async"
  (pageChange)="page$.next($event)"
  [pageSize]="pageSize$ | async"
  [maxSize]="10"
  [boundaryLinks]="true"
  [collectionSize]="(filteredData$ | async).length"
></ngb-pagination>
