<app-table-header [title]="title">
  <ng-content select="[appTableButton]"></ng-content>
</app-table-header>

<table class="table" cdk-table [dataSource]="paginatedData$">
  <ng-container cdkColumnDef="select">
    <th class="td-shrink" cdk-header-cell *cdkHeaderCellDef>
      <app-checkbox [(ngModel)]="allSelected"></app-checkbox>
    </th>
    <td cdk-cell *cdkCellDef="let item">
      <app-checkbox
        [ngModel]="selected[item.id]"
        (ngModelChange)="select(item.id, $event)"
      ></app-checkbox>
    </td>
  </ng-container>

  <ng-content></ng-content>
  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
</table>

<ngb-pagination
  [hidden]="(filteredData$ | async).length <= (pageSize$ | async)"
  [page]="page$ | async"
  (pageChange)="page$.next($event)"
  [pageSize]="pageSize$ | async"
  [maxSize]="10"
  [boundaryLinks]="true"
  [collectionSize]="(filteredData$ | async).length"
></ngb-pagination>
