<table class="table">
  <ng-content select="thead"></ng-content>
  <tbody>
    <ng-content></ng-content>
    <ng-container *ngFor="let row of tableData$ | async">
      <ng-container
        *ngTemplateOutlet="rowTpl?.templateRef; context: { $implicit: row }"
      ></ng-container>
    </ng-container>
  </tbody>
  <ng-content select="tfoot"></ng-content>
</table>

<ngb-pagination
  [hidden]="(data$ | async).length <= pageSize"
  [page]="page$ | async"
  (pageChange)="page$.next($event)"
  [pageSize]="pageSize"
  [maxSize]="10"
  [boundaryLinks]="true"
  [collectionSize]="(data$ | async).length"
></ngb-pagination>
